{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":736,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":89,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":63,"state":"start","mode":"ace/mode/text"}},"timestamp":1566483770815,"hash":"3ab8a8f0c5460b7c7e1d8ffec137d264bc0900fa"}