{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":36,"column":0},"end":{"row":36,"column":15},"action":"remove","lines":["jsonpatch==1.16"],"id":2}],[{"start":{"row":36,"column":0},"end":{"row":37,"column":0},"action":"remove","lines":["",""],"id":3}]]},"ace":{"folds":[],"scrolltop":298,"scrollleft":0,"selection":{"start":{"row":36,"column":0},"end":{"row":36,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/text"}},"timestamp":1569326678740,"hash":"d67a815e641f9f2a8961bc4e462cd489076452d1"}