{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":36,"column":0},"end":{"row":36,"column":15},"action":"remove","lines":["jsonpatch==1.16"],"id":2}],[{"start":{"row":36,"column":0},"end":{"row":37,"column":0},"action":"remove","lines":["",""],"id":3}],[{"start":{"row":11,"column":0},"end":{"row":11,"column":16},"action":"remove","lines":["cloud-init==19.1"],"id":4}],[{"start":{"row":10,"column":10},"end":{"row":11,"column":0},"action":"remove","lines":["",""],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":10},"end":{"row":10,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1569326772464,"hash":"725f2f69663afea157bd6bab42a8db67610503c6"}