 {% for recipe in recipes %}
            <h4>{{recipe.recipe_name}}</h4>
            <p>Ingredients: {{recipe.recipe_ingredients}}</p>
            <table class="striped Josefin">
                            <tbody>
                                <!--<tr class="light-grayish-cyan">-->
                                 {% for step in recipe.recipe_ingredients %}
                                <tr>
                                    <td>#{{ loop.index }}</td>
                                    <td>{{ step }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
        {% endfor %}
{% endblock content %}


**********************************************************************************************
# importing modules
import os
from flask import Flask, render_template, redirect, request, url_for, session
from flask_pymongo import PyMongo, pymongo
from bson.objectid import ObjectId


# Route for handling the login page logic
@app.route('/login', methods=['GET', 'POST'])
def login():
    users = mongo.db.users
    error = None
    if request.method == 'POST':
        if request.form['username'] != 'admin' or request.form['password'] != 'admin':
            error = 'Invalid Credentials. Please try again.'
        else:
            return redirect(url_for('home'))
    return render_template('login.html', error=error)
    
***********************************************************************************************