@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|EXO:100,200,300,400,500,600,700');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  height: 200vh;
}

/*Blockquote*/

.brooks {
  position: relative;
  font-size: 2em;
  line-height: 1.5em;
}

.brooks span {
  color:#ee6e73;
  font-family:cursive;
}

/*hr tag*/

hr{ 
  height:1.5px;
  color: #ee6e73;
  background-color: #ee6e73;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
}  

.popular-recipe-header h5{
  text-align: center;
}

.recipe-card-quick-details{
  font-size: 12px;
  margin-top: 5px;
  color: grey;
}

.card-alignment-mostviewed{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Login Page*/


.login-header {
  font-size: 30px;
}

.register-link{
  font-size: 30px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
  border-color: #ee6e73;
}
.form-border{
  border: none;
}

.form-divider-login { 
  background-color: #ffffff;
  text-align: right;
} 

.login-legend-border{
  border-bottom: double;
  border-bottom-color: #ee6e73;
}

/*For Sticky Footer*/

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ee6e73;
   color: white;
   text-align: center;
   z-index: 10000;
}


/* FIX SIDENAV SPACING*/
.side-nav li>a {
  padding: 0 16px;
}


/* SIDENAV HEADER*/
.sidenav-header {
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
}

.sidenav-header row {
    margin-bottom: 0;
  }

.sidenav-footer {
margin-bottom: 0px;
padding: 0;
}


/*section*/

.section-details{
  margin-top: 30px;
}

/*Floating Button*/

.fixed-action-btn {
    bottom: 50px;
}


