{% extends 'base.html' %} {% block content %}

<div class="container">

    <h5>Add New Recipe</h5>


    <div class="row">
        <form action="" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col-6">
                    <i class="material-icons prefix">account_circle</i>
                    <input placeholder="What's your name?" id="recipe_author" name="recipe_author" type="text" class="validate">
                    <label for="icon_prefix">Author</label>
                </div>
                <div class="input-field col-6">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <input placeholder="Which Recipe you want to share with us?" id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="icon_prefix">Recipe Name</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col-12">
                    <i class="material-icons prefix">description</i>
                    <textarea placeholder="Write a little about this recipe!" name="recipe_description" id="recipe_description" class="materialize-textarea"></textarea>
                    <label for="icon_telephone">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-12">
                    <i class="material-icons prefix">image</i>
                    <input placeholder="https://someurl.com/abcd123" id="recipe_image" name="recipe_image" type="text" class="validate">
                    <label for="icon_prefix">Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-6">
                </div>
        </form>
        </div>

    </div>

    {% endblock %}
