<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Links for Materializecss-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Links for Customised CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
  <!-- Customised Title for every page-->
  {% if title %}
  <title>CookBook - {{ title }}</title>
  {% else %}
  <title>CookBook</title>
  {% endif %}
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a href="{{ url_for('home') }}" class="brand-logo">CookBook</a>
      <ul class="right">
        
      {% if session['email'] != None %}
      
      <li>Welcome {{ session['name'] }}! </li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        
      {% else %}
      
       <li><a href="{{ url_for('login') }}">Login</a></li> 
        
      {% endif %} 
        
      </ul>

      <ul class="side-nav red lighten-2" id="mobile-demo">


        <li class="sidenav-header red lighten-2">
          <div class="row">

            <div class="col s12">
              <div>CookBook</div>

            </div>
          </div>
        </li>
        <li class="red lighten-2">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header red lighten-2 sidebar-menu-style"><i class="material-icons">list</i>Recipe by Categories<i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a class="red lighten-2" href="#">Starter</a></li>
                  <li><a class="red lighten-2" href="#">Main Dish</a></li>
                  <li><a class="red lighten-2" href="#">Snacks</a></li>
                  <li><a class="red lighten-2" href="#">Desserts</a></li>
                  <li><a class="red lighten-2" href="#">Drinks</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="red lighten-2"><a href="{{ url_for('get_recipes') }}" class="waves-effect waves-blue"><i class="material-icons">restaurant_menu</i>All Recipes</a></li>
        <li class="red lighten-2"><a href="{{ url_for('add_recipe') }}" class="waves-effect waves-blue"><i class="material-icons">add</i>Add Recipe</a></li>
        <li class="red lighten-2"><a href="#" class="waves-effect waves-blue"><i class="material-icons">help</i>Helper</a></li>
        </li>
      </ul>

    </div>
  </nav>


  <!-- Navbar:Floating Action Button-->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
    <i class="large material-icons">dehaze</i>
  </a>
    <ul>
      <li><a class="btn-floating red" data-toggle="tooltip" title="Home" href="{{ url_for('home') }}"><i class="material-icons">home</i></a></li>
      <li><a class="btn-floating yellow darken-1" data-toggle="tooltip" title="All Recipes"><i class="material-icons">restaurant_menu</i></a></li>
      <li><a class="btn-floating blue" data-toggle="tooltip" title="Login" href="{{ url_for('login') }}"><i class="material-icons">person_add</i></a></li>
      <li><a class="btn-floating green" data-toggle="tooltip" title="Add Recipe" href="{{ url_for('add_recipe') }}"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating teal darken-4" data-toggle="tooltip" title="Logout" href="{{ url_for('logout') }}"><i class="material-icons">person_outline</i></a></li>
      <li><a class="btn-floating brown darken-3" data-toggle="tooltip" title="Help"><i class="material-icons">help</i></a></li>
    </ul>
  </div>
  <section class="container-fluid section-details">
  <div>
    {% block content %} {% endblock %}
  </div>
</section>
  <div class="footer">
    <p>Footer</p>
    </div>


<!-- JS,jQuery Links for Materializecss,Bootstrap JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    
    <script>
      $(document).ready(function() {
        $('.slider').slider();
      });
      // Pause slider
      $('.slider').slider('pause');
      // Start slider
      $('.slider').slider('start');
      // Next slide
      $('.slider').slider('next');
      // Previous slide
      $('.slider').slider('prev');
      $(document).ready(function() {
        $('.fixed-action-btn').floatingActionButton();
        $('[data-toggle="tooltip"]').tooltip();  
      });
     
      
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, options);
      });
      
      
      
      // SIDEBAR
      $(document).ready(function() {
        $('.button-collapse').sideNav({
          menuWidth: 300, // Default is 300
          edge: 'left', // Choose the horizontal origin
          closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        });
        $('select').material_select();
      });
      
      
      
      
      
     
    //Add recipe-add column function 
      
            // INGREDIENT TODO
            $('#add-ingredient').on('click', function (e) {
                e.preventDefault();
                // check that blank values cannot be added
                let val = $('#recipe_ingredients').val();
                if (val.length < 1) return false;
                const output = `<li class="collection-item">
				 <div>${$('#recipe_ingredients').val()}
				   <input value="${$('#recipe_ingredients').val()}" type="hidden" name="recipe_ingredients">
				   <a href="#!" class="secondary-content delete">
					 <i class="material-icons">close</i>
				   </a>
				 </div>
			   </li>`;
                $('.todos').append(output);
                Materialize.toast('Ingredient Added', 3000);
                // e.preventDefault();
            });
            
            
            // DELETE INGREDIENT TODO 
            $('.todos').on('click', '.delete', function (e) {
                e.preventDefault();
                $(this).parent().parent().remove();
                Materialize.toast('Ingredient Removed', 3000);
                // e.preventDefault();
            });
            
            
            
            
            // METHOD TODO
            $('#add-method').on('click', function (e) {
                e.preventDefault();
				 // check that blank values cannot be added
                let val = $('#todo-2').val();
                if (val.length < 1) return false;
                const output = `<li class="collection-item">
				 <div>${$('#todo-2').val()}
					<input value="${$('#todo-2').val()}" type="hidden" name="recipe_procedure">
				   <a href="#!" class="secondary-content delete">
					 <i class="material-icons">close</i>
				   </a>
				 </div>
			   </li>`;
                $('.method').append(output);
                Materialize.toast('Procedure Added', 3000);
                // e.preventDefault();
            });
            // DELETE METHOD TODO
            $('.method').on('click', '.delete', function (e) {
                $(this).parent().parent().remove();
                Materialize.toast('Procedure Removed', 3000);
                // e.preventDefault();
            });
            

  </script>
</body>

</html>
