{% extends 'base.html' %} {% block content %}

<div class="container">

    <h5>Edit Recipe</h5>

<!--Recipe Author-->
    <div class="row">
        <form action="{{ url_for('update_recipe', id=recipe._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col-sm-12 col-md-6">
                    <i class="material-icons prefix teal-text">account_circle</i>
                    <textarea name="recipe_author" id="recipe_author" class="materialize-textarea" required>{{recipe.recipe_author}}</textarea>
                    <label for="icon_prefix">Author</label>
                </div>
 <!--Recipe Name-->               
                <div class="input-field col-6">
                    <i class="material-icons prefix teal-text">restaurant_menu</i>
                    <textarea name="recipe_name" id="recipe_name" class="materialize-textarea" required>{{recipe.recipe_name}}</textarea>
                    <label for="icon_prefix">Recipe Name</label>
                </div>

            </div>

 <!--Recipe Description-->
            <div class="row">
                <div class="input-field col-sm-12 col-md-12">
                    <i class="material-icons prefix teal-text">description</i>
                    <textarea name="recipe_description" id="recipe_description" class="materialize-textarea" required>{{recipe.recipe_description}}</textarea>
                    <label for="icon_telephone">Description</label>
                </div>
            </div>
 <!--Recipe Image-->

            <div class="row">
                <div class="input-field col-12">
                    <i class="material-icons prefix teal-text">image</i>
                    <input value={{recipe.recipe_image}} id="recipe_image" name="recipe_image" type="text" class="validate" required>
                    <label for="icon_prefix">Image URL</label>
                </div>
            </div>

 <!--Recipe Ingredients-->
            <div class="row">
                <div class="input-field col-12">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center whites-4">Ingredients</span>

                            <div class="new-ingredient ingredient">
                                {% for ingredient in recipe.recipe_ingredients %}
                                <i class="material-icons prefix teal-text">format_list_bulleted</i>

                                <textarea id="recipe_ingredients" name="recipe_ingredients[]" class="directions validate materialize-textarea" required>{{ ingredient }}</textarea> {% endfor %}
                            </div>

                            <button type="button" class="add-ingredient btn ">
                                    <i class="material-icons">add</i>
                                   </button>

                            <!-- remove last direction -->
                            <button type="button" class="remove-ingredient btn ">
                                 <i class="material-icons">remove</i>
                                  </button>
                        </div>
                    </div>

                </div>
            </div>

<!--Recipe Procedure-->
            <div class="row">
                <div class="input-field col-12">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center whites-4">Procedure</span>
                            <div class="new-procedure procedure">
                                {% for procedure in recipe.recipe_procedure %}
                                <i class="material-icons prefix teal-text">format_list_bulleted</i>
                                <textarea id="recipe_procedure" name="recipe_procedure[]" class="directions validate materialize-textarea" required>{{ procedure }}</textarea> {% endfor %}
                            </div>
                            <button type="button" class="add-procedure btn ">
                                    <i class="material-icons">add</i>
                                   </button>

                            <!-- remove last direction -->
                            <button type="button" class="remove-procedure btn ">
                                 <i class="material-icons">remove</i>
                                  </button>
                        </div>
                    </div>

                </div>
            </div>

<!--Recipe Preparation Time-->

            <div class="row">
                <div class="input-field col-sm-12 col-md-4">
                    <i class="material-icons prefix teal-text">access_time</i>
                    <textarea name="recipe_time" id="recipe_time" class="materialize-textarea" required>{{ recipe.recipe_time }}</textarea>
                    <label for="icon_prefix">Preparation Time</label>
                </div>

<!--Recipe Meal Category-->


                <div class="input-field col-sm-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" id="category" name="recipe_category">
                             <option value="" disabled selected>Choose Category</option>
                             {% for cat in categories %}
                             {% if cat.category_name == recipe.recipe_category %}
                             <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                             {% else %}
                              <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                              {% endif %}
                              {% endfor %}
                     </select>
                    </div>
                </div>
                
<!--Recipe Difficulty Level-->

                <div class="input-field col-sm-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" id="difficulty" name="recipe_difficulty_level">
                             <option value="" disabled selected>Choose Difficulty Level</option>
                             {% for dif in difficulties %}
                             {% if dif.difficulty_name == recipe.recipe_difficulty_level %}
                             <option value="{{dif.difficulty_name}}" selected >{{dif.difficulty_name}}</option>
                             {% else %}
                             <option value="{{dif.difficulty_name}}">{{dif.difficulty_name}}</option>
                             {% endif %}
                              {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

<!--Button to Save the edited recipe-->

            <div class="row">
                <button class="btn waves-effect waves-light " type="submit " name="action ">Save<button>
 <!--Button to refresh the edited recipe-->                   
             <button type="reset" class="btn waves-effect waves-light red"
                        onclick="history.go(-1)">
                        Cancel</button>
            </div>

    </div>
    </form>
    <br>
</div>

</div>


{% endblock %}
