{% extends 'base.html' %} {% block content %}

<div class="container">

    <h5>Edit Recipe</h5>


    <div class="row">
        <form action="{{ url_for('update_recipe', id=recipe._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col-sm-12 col-md-6">
                    <i class="material-icons prefix teal-text">account_circle</i>
                    <input placeholder="What's your name?" id="recipe_author" name="recipe_author" type="text" class="validate" required>
                    <label for="icon_prefix">Author</label>
                </div>
                <div class="input-field col-6">
                    <i class="material-icons prefix teal-text">restaurant_menu</i>
                    <input placeholder="Which Recipe you want to share with us?" id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>

            </div>


            <div class="row">
                <div class="input-field col-sm-12 col-md-12">
                    <i class="material-icons prefix teal-text">description</i>
                    <textarea placeholder="Write a little about this recipe!" name="recipe_description" id="recipe_description" class="materialize-textarea" required></textarea>
                    <label for="icon_telephone">Description</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col-12">
                    <i class="material-icons prefix teal-text">image</i>
                    <input placeholder="https://someurl.com/abcd123" id="recipe_image" name="recipe_image" type="text" class="validate" required>
                    <label for="icon_prefix">Image URL</label>
                </div>
            </div>


            <div class="row">
                <div class="input-field col-12">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center whites-4">Ingredients</span>
                            <div class="new-ingredient ingredient">
                                <i class="material-icons prefix teal-text">format_list_bulleted</i>
                                <textarea id="recipe_ingredients" name="recipe_ingredients[]" class="directions validate materialize-textarea" placeholder="List each ingredient one per line" required></textarea>
                            </div>
                            <button type="button" class="add-ingredient btn ">
                                    <i class="material-icons">add</i>
                                   </button>

                            <!-- remove last direction -->
                            <button type="button" class="remove-ingredient btn ">
                                 <i class="material-icons">remove</i>
                                  </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="input-field col-12">
                    <div class="card background">
                        <div class="card-content">
                            <span class="card-title center whites-4">Procedure</span>
                            <div class="new-procedure procedure">
                                <i class="material-icons prefix teal-text">format_list_bulleted</i>
                                <textarea id="recipe_procedure" name="recipe_procedure[]" class="directions validate materialize-textarea" placeholder="List each procedure one per line" required></textarea>
                            </div>
                            <button type="button" class="add-procedure btn ">
                                    <i class="material-icons">add</i>
                                   </button>

                            <!-- remove last direction -->
                            <button type="button" class="remove-procedure btn ">
                                 <i class="material-icons">remove</i>
                                  </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="input-field col-sm-12 col-md-4">
                    <i class="material-icons prefix teal-text">access_time</i>
                    <input placeholder="1 hour 30 minutes" id="recipe_time" name="recipe_time" type="text" class="validate" required>
                    <label for="icon_prefix">Preparation Time</label>
                </div>



                <div class="input-field col-sm-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" id="category" name="recipe_category">
                             <option value="" disabled selected>Choose Category</option>
                             {% for cat in categories %}
                             {% if cat.category_name == recipe.recipe_category %}
                             <option value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                             {% else %}
                              <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                              {% endif %}
                              {% endfor %}
                     </select>
                    </div>
                </div>


                <div class="input-field col-sm-12 col-md-4">
                    <div class="form-group">
                        <select class="form-control" id="difficulty" name="recipe_difficulty_level">
                             <option value="" disabled selected>Choose Difficulty Level</option>
                             {% for dif in difficulties %}
                             {% if dif.difficulty_name == recipe.recipe_difficulty_level %}
                             <option value="{{dif.difficulty_name}}" selected >{{dif.difficulty_name}}</option>
                             {% else %}
                             <option value="{{dif.difficulty_name}}">{{dif.difficulty_name}}</option>
                             {% endif %}
                              {% endfor %}
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <button class="btn waves-effect waves-light " type="submit " name="action ">Add Recipe
                  <i class="material-icons right ">send</i>
                <button>
            </div>




    </div>
    </form>
    <br>
</div>

</div>

{% endblock %}