{% extends 'base.html' %} {% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="container table-border">
 <!--Table 1 : Dry Volume Measurements-->       
        <h5>Dry Volume Measurements</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>MEASURE</th>
              <th>EQUIVALENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1/16 Teaspoon</td>
              <td>Dash</td>

            </tr>
            <tr>
              <td>1/8 Teaspoon</td>
              <td>A pinch</td>

            </tr>
            <tr>
              <td>3 Teaspoons</td>
              <td>1 Tablespoon</td>

            </tr>
            <tr>
              <td>1/8 Cup</td>
              <td>2 Tablespoons</td>

            </tr>
            <tr>
              <td>1/4 Cup</td>
              <td>4 Tablespoons</td>

            </tr>
            <tr>
              <td>1/3 Cup</td>
              <td>5 Tablespoons plus 1 Teaspoon</td>

            </tr>
            <tr>
              <td>1/2 Cup</td>
              <td>8 Tablespoons</td>

            </tr>
            <tr>
              <td>3/4 Cup</td>
              <td>12 Tablespoons</td>

            </tr>
            <tr>
              <td>1 Cup</td>
              <td>16 Tablespoons</td>

            </tr>
            <tr>
              <td>1 Pound</td>
              <td>16 Ounces</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="container table-border">
        
  <!--Table 2 : Metric Conversions-->  
  
        <h5>Metric Conversions</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>MEASURE</th>
              <th>EQUIVALENT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1/5 Teaspoon</td>
              <td>1 Ml</td>

            </tr>
            <tr>
              <td>1 Teaspoon</td>
              <td>5 Ml</td>

            </tr>
            <tr>
              <td>1 Tablespoon</td>
              <td>15 Ml</td>

            </tr>
            <tr>
              <td>1 Fluid oz</td>
              <td>30 Ml</td>

            </tr>
            <tr>
              <td>1/5 Cup</td>
              <td>50 Ml</td>

            </tr>
            <tr>
              <td>1 Cup</td>
              <td>240 Ml</td>

            </tr>
            <tr>
              <td>2 Cups (1 pint)</td>
              <td>470 Ml</td>

            </tr>
            <tr>
              <td>4 Cups (1 quart)</td>
              <td>.95 Liter</td>

            </tr>
            <tr>
              <td>4 Quarts (1 gal.)</td>
              <td>3.8 Liters</td>

            </tr>
            <tr>
              <td>1 Oz</td>
              <td>28 Grams</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!--Table 3 : Oven Temperature Conversions-->
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="container table-border">
        <h5>Oven Temperature Conversions</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>FARENHEIT</th>
              <th>CELSIUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>275º F</td>
              <td>140º C</td>
            </tr>
            <tr>
              <td>300º F</td>
              <td>150º C</td>

            </tr>
            <tr>
              <td>325º F</td>
              <td>165º C</td>

            </tr>
            <tr>
              <td>350º F</td>
              <td>180º C</td>

            </tr>
            <tr>
              <td>375º F</td>
              <td> 190º C</td>

              <tr>
                <td>400º F</td>
                <td>200º C</td>

              </tr>
              <tr>
                <td>425º F</td>
                <td>220º C</td>

              </tr>
              <tr>
                <td>450º F</td>
                <td>230º C</td>

              </tr>
              <tr>
                <td>475º F</td>
                <td>240º C</td>

              </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>

<br> {% endblock %}
