{% extends 'base.html' %} {% block content %}

<!--image carousel-->


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="container-fluid">
        <blockquote class="brooks">
          <div>
            What is Cook<span>Book</span>?
          </div>
        </blockquote>
      </div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ url_for('static', filename='img/barbecue-barbeque.jpg') }}">
            <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/brownie.jpg') }}">
            <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/citric-citrus-color.jpg') }}">
            <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/burrito-chicken.jpg') }}">
            <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>
 <section class="container-fluid">
        <div class="row">
            <h5 class="center-align">Most Viewed Recipes</h5>
        </div>

        <div class="row--recipes">

            {% for recipe in recipes %}
                
                <!-- IMAGE CARD -->
                <article class="recipe-card">
                    <a href="{{ url_for('add_recipe') }}" class="recipe-card__thumbnail-container">
                        <img src="{{recipe.recipe_image}}" width="800" height="600" class="recipe-card__thumbnail">
                    </a>
                    <div class="collection-item avatar">
                        <span class="title truncate three-hundred">{{recipe.recipe_name}}</span>
                        
                        <p class="recipe-card-quick-details">Views: {{recipe.recipe_views}} | Cooking Time:{{recipe.recipe_time}}</p>
                    </div>
                </article>
            {% endfor %} 
        <br><br><br>
        </div>
      
    </section>
  {% endblock content %}