{% extends 'base.html' %} {% block content %}

<!--image carousel-->


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{{ url_for('static', filename='img/image2.jpg') }}" style="opacity: 0.7">
            <!-- random image -->
            <div class="caption center-align">
              <h3>A Recipe is a story</h3>
              <h5 class="light white-text text-lighten-3">...that ends with a good meal!</h5>
            </div>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/brownie.jpg') }}" style="opacity: 0.7">
            <!-- random image -->
            <div class="caption left-align">
              <h3>Eating is a necessity</h3>
              <h5 class="light white-text text-lighten-3">...but cooking is an art!</h5>
            </div>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/image1.jpg') }}" style="opacity: 0.7">
            <!-- random image -->
            <div class="caption right-align">
              <h3>Cooking is love</h3>
              <h5 class="light white-text text-lighten-3">made visible!</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="container-fluid">
        <blockquote class="brooks">
          <div class="brooks-header">
            What is Cook<span>Book</span>?
          </div>
          <ul>
            <li><i class="material-icons prefix teal-text">check</i>CookBook is where the art of cookery made plain and easy.Enjoy recipes and pass it on!</li>
            <li><i class="material-icons prefix teal-text">check</i>Register to Cookbook and write your own recipes!</li>
            <li><i class="material-icons prefix teal-text">check</i>Ohh! missed something while adding your recipe?No worries...you can update anytime!!</li>
            <li><i class="material-icons prefix teal-text">check</i>Don't like your recipe anymore!...Delete it!Only your own recipes....ok <i class="material-icons prefix black-text tiny">tag_faces</i></li>
            <li><i class="material-icons prefix teal-text">check</i>Looking recipe for a particular Meal? Search by Category from side-nav bar!</li>
            <li><i class="material-icons prefix teal-text">check</i>Aaah!! Confused with the measurements?....we have a helper just for you!</li>

            
          </ul>
        </blockquote>
      </div>
    </div>
    
  </div>
</div>

<hr>
 <section class="container-fluid">
        <div class="row">
            <h5 class="center-align">Most Liked Recipes</h5>
        </div>

        <div class="row--recipes">

            {% for recipe in recipes %}
                
                <!-- IMAGE CARD -->
                <article class="recipe-card">
                    <a href="{{ url_for('view', id=recipe._id) }}" class="recipe-card__thumbnail-container">
                        <img src="{{recipe.recipe_image}}" width="800" height="600" class="recipe-card__thumbnail">
                    </a>
                    <div class="collection-item avatar">
                        <span class="title truncate three-hundred">{{recipe.recipe_name}}</span>
                        
                        <p class="recipe-card-quick-details">Likes: {{recipe.likes}} | Cooking Time: {{recipe.recipe_time}}</p>
                    </div>
                </article>
            {% endfor %} 
        
        </div>
      <br><br><br>
    </section>
  {% endblock content %}