{% extends 'base.html' %}
{% block content %}

<!--image carousel-->


<div class="container-fluid">
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  </div>


        {% for recipe in recipes %}
            <h4>{{recipe.recipe_name}}</h4>
            <p>Ingredients: {{recipe.recipe_ingredients}}</p>
            <table class="striped Josefin">
                            <tbody>
                                <!--<tr class="light-grayish-cyan">-->
                                 {% for step in recipe.recipe_ingredients %}
                                <tr>
                                    <td>#{{ loop.index }}</td>
                                    <td>{{ step }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        {% endfor %}
{% endblock content %}