{% extends 'base.html' %} {% block content %}
  {% for recipe in recipes %}
 <div class="container-fluid">
 <div class="row">
     <div class="col-sm-12 col-md-6">
           <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>{{recipe.recipe_name}}</div>
      <div class="collapsible-body">
          <img class="card-img-top" src="{{recipe.recipe_image}}" alt="Card image" style="width:100%">
          <span>{{recipe.recipe_description}}</span>
          <br>
          <span> <a href="#" class="btn-lg full-recipe-button right-align">Full Recipe</a></span>
          </div>
    </li>
    
  </ul>
     </div>
     
 </div>
 
 





 {% endfor %}
 
 </div>
 
 

{% endblock content %}
