{% extends 'base.html' %} {% block content %}
  
 
 
 <div class="container-fluid">
                <h4>Recipes</h4>
         <div class="row">
          {% for recipe in recipes %}
           <div class="col-md-3 card-deck">
           <br>
            
                  <div class="card">
                        <img class="card-img-top" src="{{recipe.recipe_image}}" alt="Card image" style="width:100%">
                         <div class="card-body">
                             <h6 class="card-title">"{{recipe.recipe_name}}"</h6>
                             <p class="card-text">"{{recipe.recipe_description}}"</p>
                             <a href="{{ url_for('view', id=recipe._id) }}" class="stretched-link">More Details...</a>
                         </div>
                  </div>
             </div>
             
           {% endfor %}
           
        </div>
  </div>
  
  <br>
  <br>
 






 
 
{% endblock content %}
