{% extends 'base.html' %} {% block content %}

<!-- Flash messages-->

{% with messages = get_flashed_messages() %}
                                {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-info alert-dismissible fade show col-md-4" role="alert">
                                            <span>{{ message }}</span>
                                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                          </button>
                                       </div>
                                            
                                        {% endfor %}
                                {% endif %}
                            {% endwith %}
<!-- Registration form-->
<!-- If the email id provided by user has been used before,user will get a error message-->

<section class="section section-login light-grayish-cyan">
        <div class="container">
            <div class="row">
                <!-- LOGIN CARD -->
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel login center login-header">Register
                        <p><span class="slightly-desaturated-cyan register-link">Already Registered?</span> <span class="blac-2 register-link"><a href="{{ url_for('login') }}">Login</a></span>
                        </p>
                        <form action="{{ url_for('register') }}" method="POST">
                            <div class="input-field">
                                <i class="slightly-desaturated-cyan-2 material-icons prefix">face</i>
                                <input type="text" id="name" name="name" required>
                                <label class="dark-grey" for="email">Name</label>
                            </div>

                            <div class="input-field">
                                <i class="slightly-desaturated-cyan-2 material-icons prefix">email</i>
                                <input type="email" id="email" name="email" required>
                                <label class="dark-grey" for="email">Email</label>
                                {% if error == 'user_exists' %}
                                    <span style="color: red;">That email address already exists.</span>
                                {% endif %}
                            </div>
                            <div class="input-field">
                                <i class="slightly-desaturated-cyan-2 material-icons prefix">lock</i>
                                <input type="password" id="password" name="password" required>
                                <label class="dark-grey" for="password">Password</label>
                            </div>
                            <input type="submit" value="Register" class="btn btn-large btn-extended background">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}