{% extends 'base.html' %} {% block content %} 

<div class="container-fluid">
            <div class="col 12 recipe-view-header">
                    <h3>{{recipe.recipe_name}}</h3>
            </div>
    <br>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <img class="img-fluid" src="{{recipe.recipe_image}}"></img>
                        <p class="recipe-author-details">Author <span>{{recipe.recipe_author}}</span></p>
                </div>
                
                <div class="col-sm-12 col-md-8">
                             <p class="recipe-description-details font-weight-light">{{recipe.recipe_description}}</p>
   <br>
                            <div>
                                <ul class="list-group list-group-horizontal-md">
                                 <li class="list-group-item font-weight-bold shadow">Category: <span class="font-weight-light font-italic">{{recipe.recipe_category}}</span></li>
                                 <li class="list-group-item font-weight-bold shadow">Preparation Time: <span class="font-weight-light font-italic">{{recipe.recipe_time}}</span></li>
                                <li class="list-group-item font-weight-bold shadow">Difficulty Level: <span class="font-weight-light font-italic">{{recipe.recipe_difficulty_level}}</span></li>
                                </ul>
                            </div>
    <br>
                              <div>
                                   <div class="row">
                                       <div class="col-6>" <p>Like this recipe?</p>
                                        <div class="switch">
                                              <label>
                                               <i class="material-icons prefix tiny">thumb_down</i>   
                                           <input type="checkbox">
                                             <span class="lever"></span>
                                           <i class="material-icons prefix tiny">thumb_up</i>
                                         </label>
                                        </div>
                                    </div>
                                      <div class="col-6">
                                          <ul class="list-inline recipe-options">
                                            <li class="list-inline-item"><a data-toggle="tooltip" title="Edit Recipe" href="#"><i class="material-icons prefix small teal-text">create</i></a></li>
                                             <li class="list-inline-item"><a data-toggle="tooltip" title="Delete Recipe" href="#"><i class="material-icons prefix small teal-text">delete</i></a></li>
                                           </ul>
                                      </div>

                    <div>
    <br>                                               

                    </div>
                    </div>
                    </div>
                    </div>
    
    <br>
    <br>
    <br>
    <div class="container-fluid">
  
        <div class="row">
            <div class="col-md-4 recipe-ingredients-header">
              <h5>Ingredients</h5> 
              <br>
              <ul class="recipe-ingredients-list">
                  {% for ingredient in recipe.recipe_ingredients %}
                  <li><i class="material-icons prefix teal-text tiny">fiber_manual_record</i>   {{ ingredient }}</li>
                  
                  {% endfor %}
              </ul>
            </div>
            <div class="col-md-8 recipe-procedure-header">
                <h5>Procedure</h5>
                <br>
                <dl>
                    {% for step in recipe.recipe_procedure %}
                    <dd><i class="material-icons prefix teal-text tiny">fiber_manual_record</i> {{ step }}</dd>
                    <hr class="recipe-procedure-divider">
                     {% endfor %}
                </dl>
            </div>
        </div>
        
                
           
            
    </div>          
            
            


        
                    {% endblock %}
